<p>Hello <%= @user.first_name %>,</p>

<p>
  Your access level in the workspace <strong><%= @account.name %></strong> 
  has been changed to: <strong><%= @membership.role.humanize %></strong>.
</p>

<% if @membership.admin? %>
  <p>You now have administrative privileges, including billing management and the ability to invite/remove members.</p>
<% else %>
  <p>You are now a standard member.</p>
<% end %>

<p>
  <%= link_to "Go to Workspace", root_url, target: "_blank" %>
</p>