<div id="<%= id_suffix %>-notification-badge" class="absolute" style="inset-block-start: 0; inset-inline-end: 0;">
  <% if unread %>
    <span class="block rounded-full bg-red-500" style="inline-size: 0.5rem; block-size: 0.5rem;"></span>
  <% end %>
</div>