<p>Hello,</p>

<p>
  You have been invited to join the workspace <strong><%= @account.name %></strong> 
  on ChopClips.
</p>

<p>
  <!-- This links to the new Acceptance Controller -->
  <%= link_to "Accept Invitation", 
    invitation_acceptance_url(token: @invitation.token), target: "_blank" %>
</p>

<p>This link will expire in 48 hours.</p>