<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <div class="flex items-center justify-between mbe-4">
      <h3 class="text-lg font-bold">Invite Team Member</h3>
    </div>

    <%= render 'form', invitation: @invitation %>

  </div>
<% end %>