/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 html {
  overflow-x: hidden;
 }

@font-face {
  font-family: 'Google Sans';
  src: url('google_sans/GoogleSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('google_sans/GoogleSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('open_sans/OpenSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans";
}

h1, h2 {
  font-family: "Google Sans", sans-serif;
  font-weight: 700; 
}

h3, h4, h5, h6 {
  font-family: "Google Sans", sans-serif;
  font-weight: 600; 
}
 
.min-b-screen {
  min-block-size: 100dvh; /* 100vh = 100% of the viewport height */
}
 
.min-b-screen-80 {
  min-block-size: 80dvh; /* 100vh = 80% of the viewport height */
}
 
.min-b-screen-90, .fixed-right-col {
  min-block-size: 90dvh; /* 90vh = 90% of the viewport height */
}

.max-b-screen-32 {
  max-block-size: 32dvh; /* 32vh = 32% of the viewport height */
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hide {
  display: none;
}

/* Style for the popover that holds the notifications */
.popover--notifications {
  /* Remove default popover padding to allow content to go edge-to-edge */
  --popover-padding: 0; 
}

/* The scrollable list inside the popover */
.popover__scrollable-list {
  /* Set a max-height. When content exceeds this, a scrollbar will appear. */
  max-block-size: 78dvh; /* 78% of the viewport height is a good starting point */
  overflow-y: auto;
}

.popover__item {
  transition: background-color var(--time-150);
}

.popover__item:hover {
  background-color: var(--color-border-light);
}

.min-b-0, .min-h-0 { min-block-size: 0; }

/* Combines a fade-in and a slide-in-from-bottom effect */
.animate-fade-slide-in-up {
  /* The 'forwards' keyword ensures the element stays in its final state */
  animation: var(--animate-fade-in) forwards, var(--animate-slide-in-up) forwards;
}

/* Combines a fade-out and a slide-out-to-bottom effect */
.animate-fade-slide-out-down {
  animation: var(--animate-fade-out) forwards, var(--animate-slide-out-down) forwards;
}

/* By default, the 'expand' (chevron-up) icon is hidden. */
.expand-icon {
  display: none;
}

.progress-bar-container {
  cursor: pointer;
}

/*
* star rating
*/

.ting {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  /* height: 150px; */
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23dedede' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
  font-size: 0; /* This line hides the numbers */
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fbbc04' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e0a803' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}